a {
  text-decoration: none;
}
.Header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 120px;
}
.shadow {
  position: relative;
}
.logo h1 {
  display: flex;
  align-items: center;
  color: rgba(253, 146, 45, 0.8);
}
.logo image {
  display: block;
}
.shadow:before,
.shadow8:after {
  content: '';
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(253, 146, 45, 0.8);
  top: 5px;
  bottom: 10px;
  left: 0;
  right: 0;
}
.shadow8:after {
  right: 10px;
  left: auto;
  transform: skew(8deg) rotate(3deg);
}
.HeaderMenu {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.Logo {
  display: flex;
}
.UserMenu {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Avatar {
  margin-right: 20px;
}
.UserName {
  font-size: 26px;
}
.DropDown {
  position: absolute;
  top: 60px;
}
.Backdrop {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}
.ModalWindow {
  max-width: 500px;
  min-height: 400px;
  background-color: #fff;
}
